<div class="wrapper fadeInDown">
    <div id="formContent">
        <form action="authentification" method="POST">
            <input type="email" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="user.login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="mot de passe" [(ngModel)]="user.password">
            <input type="submit" class="fadeIn fourth" (click)="login()">
        </form>


        <div>{{authUser?.id}}</div>
        <div>{{user.login}}</div>
        <div>{{user.password}}</div>

        <div id="formFooter">
            <a class="underlineHover" href="#">Mot de passe oublié?</a>
        </div>

    </div>
</div>